/*!
 * Christmas theme for ts-website
 * https://github.com/Wruczek/ts-website
 * (c) Wruczek 2016
 * The MIT License
*/

body {
    background-image: url(../img/christmas-bg.jpg);
}

.disableSnowLink {
    position: fixed;
    bottom: 0;
}

.panel {
    background-color: #410b13;
}

.table-hover > tbody > tr:hover {
    background-color: #b41320
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #a51321
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #a51321
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #a51321
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #a51321
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #a51321
    }
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #a51321;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #a51321
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    background-color: #a51321
}

.panel-footer {
    background-color: #a51321;
}

.popover-title {
    background-color: #a51321;
}

.btn-default:hover {
    background-color: #a51321
}

.panel-default > .panel-heading {
    background-color: #a51321;
}

.modal-header,
.modal-footer {
    background-color: #a51321
}

.table-bordered {
    border-color: #871522;
}

.table > thead > tr > th {
    background-color: #871522;
    border-color: #871522;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #871522;
}

.navbar-default {
    background-color: #b91524 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #9b131f
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #9b131f
}

.dropdown-menu {
    background-color: #410b13;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #9b131f;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #9b131f
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #9b131f
    }
}
