.fa {
    margin-right: 5px
}

.icon-smaller {
    font-size: 0.7em
}

a {
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.news-header {
    font-size: 1.4em;
    text-align: center;
}

.news-author {
    font-size: 0.7em;
    text-align: right;
}

.pullright {
    float: right
}

.pullright .fa {
    margin-right: 0px
}


/* ****** */
/* STATUS */
/* ****** */

.serverstatus p {
    margin: 0px
}

.serverstatus a {
    float: right
}

.serverstatus .fa-signal {
    margin-right: 3px
}

.serverstatus .fa-bolt {
    margin-right: 11px
}

.serverstatus span {
    float: right
}


/* ********* */
/* ADMINLIST */
/* ********* */

.adminlist> .groupname~ .groupname {
    margin-top: 15px;
}

.adminlist .groupname {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid #677481;
    margin-bottom: 5px;
}

.adminlist .label-primary {
    background-color: #375a7f;
}

.adminlist p {
    margin: 0px
}

.adminlist img {
    margin-right: 3px
}

.adminlist .iconspacer {
    margin-left: 19px
}


/* ****** */
/* NAVBAR */
/* ****** */

body {
    padding-top: 80px
}

.navbar {
    font-size: 14px
}

.nav> li> a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    padding: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.navbar-brand> img {
    height: 100%;
    padding: 5px 5px 5px 15px;
    width: auto;
}


/* ****** */
/* FOOTER */
/* ****** */

html {
    height: 100%
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 12rem;
    min-height: 100%;
}

@media (max-width: 380px) {
    body {
        padding-bottom: 15rem;
    }
}

@media (max-width: 280px) {
    body {
        padding-bottom: 20rem;
    }
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
