html {
    min-width: 320px;
}

.fa {
    margin-right: 5px
}

.icon-smaller {
    font-size: 0.7em
}

a {
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.news-header {
    font-size: 1.4em;
    text-align: center;
}

.news-author {
    font-size: 0.7em;
    text-align: right;
}

.pull-right .fa {
    margin-right: 0
}

p, a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* ****** */
/* STATUS */
/* ****** */

.serverstatus p, .serverstatus .label .fa {
    margin: 0
}

.serverstatus a {
    float: right
}

.serverstatus span {
    float: right
}

/* ********* */
/* ADMINLIST */
/* ********* */

.adminlist > .groupname ~ .groupname {
    margin-top: 15px;
}

.adminlist .groupname {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid #677481;
    margin-bottom: 5px;
}

.adminlist .label-primary {
    background-color: #375a7f;
}

.adminlist p {
    margin: 0
}

.adminlist img {
    margin-right: 3px
}

.adminlist .iconspacer {
    margin-left: 19px
}

/* ****** */
/* NAVBAR */
/* ****** */

body {
    padding-top: 80px
}

.navbar {
    font-size: 14px
}

.nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
}

.navbar-brand > img {
    height: 100%;
    padding: 5px 5px 5px 15px;
    width: auto;
}

/* ****** */
/* FOOTER */
/* ****** */

body {
    position: relative;
    margin: 0;
    padding-bottom: 120px;
    min-height: 100%;
}

@media (max-width: 380px) {
    body {
        padding-bottom: 150px;
    }
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.footer .pull-right p {
    margin: 0 0 0 0;
    font-size: 80%;
    text-align: right;
}
