/*!
 * Stylesheet kindly donated by NothingTV from https://flamespersecond.de/
 * Edited by Wruczek
 * The MIT License
*/

body {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default {
    background-color: #055157 !important;
}

.btn-dark {
    background-color: #4e5d6c;
}

.text-muted {
    color: #00343f
}

abbr[data-original-title] {
    border-bottom: 1px dotted #00343f
}

blockquote {
    border-left: 5px solid #00343f
}

blockquote.pull-right {
    border-right: 5px solid #00343f;
}

caption {
    color: #00343f;
}

.table>tfoot>tr>td {
    border-top: 1px solid #00343f
}

.table>thead>tr>th {
    border-bottom: 2px solid #00343f
}

.table>tbody+tbody {
    border-top: 2px solid #00343f
}

.table-bordered {
    border: 1px solid #00343f
}

.table-bordered>tfoot>tr>td {
    border: 1px solid #00343f
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #00343f
}

.table-hover>tbody>tr:hover {
    background-color: #004449
}

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    background-color: #004449
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: 1px solid #00343f
    }
}

legend {
    border-bottom: 1px solid #00343f
}

.btn-default {
    background-color: #00343f;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #00343f;
}

.btn-default .badge {
    color: #00343f;
}

fieldset[disabled] .btn-link:focus {
    color: #00343f;
}

.dropdown-menu {
    background-color: #00343f;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #004449
}

.input-group-addon {
    background-color: #00343f;
}

.nav>li>a:focus {
    background-color: #00343f
}

.nav>li.disabled>a {
    color: #00343f
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #00343f;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #00343f;
}

.nav-tabs>li>a:hover {
    border-color: #00343f #00343f transparent
}

.nav-tabs>li.active>a:focus {
    border: 1px solid #00343f;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 1px solid #00343f;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #00343f;
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #00343f
    }
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border: 1px solid #00343f
}

@media (min-width: 768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid #00343f;
    }
    .nav-tabs-justified>.active>a,
    .nav-tabs-justified>.active>a:hover,
    .nav-tabs-justified>.active>a:focus {
        border-bottom-color: #00343f
    }
}

.navbar-default {
    background-color: #00343f;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #083d48
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #004449
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        background-color: #004449
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        background-color: #004449
    }
}

.breadcrumb {
    background-color: #00343f;
}

.pagination>li>a,
.pagination>li>span {
    background-color: #00343f;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #004449;
}

.pagination>.disabled>a:focus {
    background-color: #00343f;
}

.pager li>a,
.pager li>span {
    background-color: #00343f;
}

.pager li>a:hover,
.pager li>a:focus {
    background-color: #004449
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    background-color: #00343f;
}

.label-default {
    background-color: #00343f
}

.badge {
    background-color: #00343f;
}

.jumbotron {
    background-color: #00343f
}

.progress {
    background-color: #00343f;
}

.list-group-item {
    background-color: #00343f;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    background-color: #004449
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #00343f;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #00343f
}

.panel {
    background-color: #00343f;
}

.panel-footer {
    background-color: #004449;
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
    border-top: 1px solid #00343f
}

.panel-success>.panel-heading {
    color: #13ddcd;
}

.panel-info>.panel-heading {
    color: #13ddcd;
}

.panel-warning>.panel-heading {
    color: #13ddcd;
}

.well {
    background-color: #00343f;
}

.modal-content {
    background-color: #00343f;
}

.popover {
    background-color: #00343f;
}

.popover-title {
    background-color: #004449;
}

.popover.top>.arrow:after {
    border-top-color: #00343f
}

.popover.right>.arrow:after {
    border-right-color: #00343f
}

.popover.bottom>.arrow:after {
    border-bottom-color: #00343f
}

.popover.left>.arrow:after {
    border-left-color: #00343f;
}

.navbar-default .badge {
    color: #00343f
}

.btn-default:hover {
    background-color: #004449
}

.page-header {
    border-bottom-color: #00343f
}

table .text-muted,
.table .text-muted {
    color: #00343f
}

.panel-default>.panel-heading {
    background-color: #004449;
}

.thumbnail {
    background-color: #00343f
}

.modal-header,
.modal-footer {
    background-color: #004449
}
