<div class="alert text-center cookiealert" role="alert">
    {_"COOKIEALERT_MESSAGE"}

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="{_"ARIA_CLOSE"}">
        {_"COOKIEALERT_AGREE"}
    </button>
</div>
